
body {
  background-color: #333a56;
}
.container {
  background-color: #e8e8e8;
}
border {
  background-color: #333a56;
}
.results {
  background-color: #52658f;
}
p {
  text-align: justify;
  text-align: center;
}
.text {
  width: 50%;
  margin: 0 auto;
}
.col-md-12 {
  border: 5px solid;
  display: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.col-md-12 img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
}
button {
  border-radius: 10px;
  background-color: #ffffff;
}
button:hover {
  cursor: pointer;
}
.submit-button {
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.col-s-3 img {
  margin: 5px;
  width: 70%;
  height: 120px;
}
.row {
  margin: 5px 5px 5px 5px;
}
.cannon {
  padding: 1px;
}
.deadsea {
  padding: 1px;
}
